html{
    height:auto ;
}

body{
    background-image: url(background-pizza.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/*creazione della classe contenitore da utilizza per il tag <div>*/
#contenitore {
    margin-left: auto;  /*auto*/
    margin-right: auto;
    max-width: 800px;
    background-color: rgba(40, 40, 40, 0.5);
    border-radius: 100px;
}

header{
    height: 282px;
    background-image: url(arhampizzeria.png);
    background-repeat: no-repeat;
    background-position: center;
    /*background-color: aqua;*/
}

nav{
    /*height: 40px;*/
    background-color: rgba(150, 0, 0, 0.6);
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    text-align: center;
    padding: 10px 0;
}

.menu{
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Montserrat';
    padding: 0px 10px;
}
.menu:hover{
    color: black;
    background-color: whitesmoke;
    border-radius: 10px;
    transition: 0.5s;
}

main{
    height: 380px;
    /*background-color: purple;*/
    text-align: center;
    position: relative;
}

h1{
    font-family: knewave, cursive;
    font-size: 50px;
    color: whitesmoke;
}

p{
    font-family: cabin sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    margin-bottom: 40px;

}

#prenota{
    font-family: cabin sans-serif;
    font-weight: bold;
    color: red;
    padding: 10px;
    border: 2px solid white;
    background-color: yellow;
    border-radius: 10px;
    text-decoration: none;
}
/*pseudo classe hover per la classe prenota*/
#prenota:hover{
    background-color: red;
    color:yellow;
    border: 2px solid black;

}


footer{
    height: 100px;
    /*background-color: skyblue;*/
}



header1{
    height: 100px; /*200px - 282px */
    background-image: url(arhampizzeria.png);
    background-repeat: no-repeat;
    background-position: center;

    /*background-color: aqua;*/
}



/*sistemare dimensione fissa dei margini container aoto*/


main1 {
    height: 500px;
    background-color: purple;
    text-align: center;
}

body01{
    background-image: url(/img/background-pizza.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
